<div class="products-container">
  <h2 class="page-title">עגלה שלי</h2>

  <div class="products-section">

    <!-- Loading -->
    <div *ngIf="loading()" class="loading-state">
      <div class="spinner"></div>
      <p>טוען את העגלה...</p>
    </div>

    <!-- Empty -->
    <div *ngIf="!loading() && list().length === 0" class="empty-state">
      <p>העגלה ריקה.</p>
    </div>

    <!-- Cart Products -->
    <div *ngIf="!loading() && list().length > 0" class="products-grid">
      <div *ngFor="let item of list()" class="product-card">
        <div class="product-content">
          <div class="product-icon" *ngIf="item.product?.image; else defaultIcon">
            <img [src]="item.product?.image" alt="{{ item.product?.productName }}" style="width:60px; height:60px; object-fit:contain; border-radius:5px;">
          </div>
          <ng-template #defaultIcon>
            <div class="product-icon">
              <span class="code-symbol">&lt;/&gt;</span>
            </div>
          </ng-template>

          <div class="product-info">
            <h3 class="product-name">{{ item.product?.productName }}</h3>
            <p class="product-price">₪{{ item.product?.price }}</p>
            <p *ngIf="item.product?.categoryName">קטגוריה: {{ item.product?.categoryName }}</p>
            <p *ngIf="item.product?.companyName">חברה: {{ item.product?.companyName }}</p>
            <p *ngIf="item.product?.description">תיאור: {{ item.product?.description }}</p>
          </div>

          <div class="item-actions">
            <button class="buy-button" (click)="removeFromCart(item.purchaseId,item.productId)">הסר מהעגלה</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
